@import '../../css/layout';

.template {
  overflow-x: hidden;
  height: 100%;
}

.body {
  @apply --body;
}

.nav {
  z-index: 999;
  background: #d9d9d9;
}

:global .ant-layout-sider-zero-width-trigger {
  top: 8px !important;
}
