@import '../../css/layout';
@import '../../css/colors';

.nav {
  z-index: 999;
  background: var(--dark-gray);
}
.nav-event {
  margin: 16px;
  border-radius: 4px !important;
}

.logo {
  vertical-align: middle;
  max-height: 50px;
  margin-left: 16px;
}
.wordmark {
  /*max-height: 50px;*/
  /*display: flex;
  align-items: center;*/
  width: 100%;
  padding: 8px;
}

.breadcrumb {
  margin: 24px 0 0 0;
  padding: 0 48px;
  @media (min-width: 992px) {
    margin: 24px 48px;
    padding: 0;
  }
}

.body {
  min-height: calc(100vh - 60px);
}
