:root {
  --purple:                   #4b2e83;
  --gold:                     #b7a57a;
  --metallic-gold:            #85754d;
  --light-gray:               #d9d9d9;
  --dark-gray:                #444;
  --black:                    #3d3d3d;
}
