:root {
  --headerHeight: 60px;
  --header: {
    height: var(--headerHeight, 60px);
  }

  --page {
    margin: 16px 4px;
    padding: 4px;
    background: #fff;
    border-radius: 4px;
    max-width: 1280px;
    @media (min-width: 992px) {
      margin: 16px auto;
      padding: 16px;
    }
  }
  --full-page {
    /*margin: 16px 0 0 0;*/
    margin: 16px 4px;
    /*padding: 8px;*/
    padding: 4px;
    background: #fff;
    border-radius: 4px;
    @media (min-width: 992px) {
      margin: 16px 48px;
      padding: 16px;
    }
  }
  --page-margin {
    margin: 16px 0 0 0;
    background: #fff;
    border-radius: 4px;
    @media (min-width: 992px) {
      margin: 16px 48px;
    }
  }
  --page-padding {
    padding: 8px;
    @media (min-width: 992px) {
      padding: 16px;
    }
  }

}
