:root {
  --headerHeight: 70px;
  --header: {
    height: var(--headerHeight, 70px);
  }
  --content {
    height: calc(100vh - var(headerHeight, 70px));
  }
  --page {
    margin: 24px 0 0 0;
    padding: 8px;
    background: #fff;
    border-radius: 4px;
  }

  /* Medium screens */
  /*@media (min-width: 992px) {
  	---page {
  		margin: 24px 48px;
  		padding: 24px;
  	}
  }*/
}
