:root {
  --headerHeight: 60px;
  --header: {
    height: var(--headerHeight, 60px);
  }
  --body {
    height: 100vh;
    /*height: 100%;*/
    z-index: 9;
  }
  --page {
    margin: 24px 0 0 0;
    padding: 8px;
    background: #fff;
    border-radius: 4px;
    @media (min-width: 992px) {
      margin: 24px 48px;
      padding: 24px;
    }
  }

}
