:root {
  --headerHeight: 60px;
  --header: {
    height: var(--headerHeight, 60px);
  }

  --page {
    padding: 4px;
    background: #fff;
    border-radius: 4px;
    max-width: 1280px;
    @media (min-width: 992px) {
      margin: auto;
      padding: 16px;
    }
  }
  --full-page {
    padding: 4px;
    background: #fff;
    border-radius: 4px;
    @media (min-width: 992px) {
      padding: 16px;
    }
  }
  --slim-page {
    margin: auto;
    padding: 4px;
    background: #fff;
    border-radius: 4px;
    max-width: 768px;
    @media (min-width: 768px) {
      padding: 16px;
    }
  }
  --page-margin {
    background: #fff;
    border-radius: 4px;
    @media (min-width: 992px) {
      margin: 16px 48px;
    }
  }
  --page-padding {
    padding: 8px;
    @media (min-width: 992px) {
      padding: 16px;
    }
  }

}
