@import 'colors';
@import 'layout';
@import 'typography';

* { box-sizing: border-box !important; }

.app {
  height: 100% !important;
  font-weight: normal !important;
  font-smoothing: antialiased !important;
}
