@import './common/layout';
@import './common/typography';

@import url(https://fonts.googleapis.com/css?family=Roboto);

* { box-sizing: border-box; }

body {
  font-family: var(--fontFace);
  font-weight: normal;
  font-smoothing: antialiased;
}

article {
  margin: 4px;
  padding: 8px;
  background: #fff;
  border-radius: 4px;
}
/* Medium screens */
@media (min-width: 992px) {
	article {
		margin: 24px 48px;
		padding: 16px;
	}
}

/*.app {
  @apply --box;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
}*/


/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/


/*:root {

  --globalRadius:             4px;

  --ViewTransitionIn:         opacity .4s ease-in;
  --ViewTransitionOut:        opacity .1s ease-out;

}*/
