@import "~antd/dist/antd.less";
/*
WARNING:
This file is for ant-design themes only.
Do NOT put standard CSS here. It will break scope conventions.
Antd is being used for its adherence to UW branding,
but requires less preprocessed themes.
*/
/*
Official UW Brand Colors - source:
http://www.washington.edu/brand/graphic-elements/primary-color-palette/
*/
@purple                   : #4b2e83;
@gold                     : #b7a57a;
@metallic-gold            : #85754d;
@light-gray               : #d9d9d9;
@dark-gray                : #444;
@black                    : #3d3d3d;

/*
ANT Design theme overrides
*/

@primary-color            : @purple;
@highlight-color          : @gold;
@normal-color             : @light-gray;
// @info-color             : #ecf6fd;
// @success-color          : @green-6;
// @error-color            : @red-6;
// @warning-color          : @yellow-6;

// @font-family: 'Roboto', Helvetica, Arial, sans-serif;
@font-family              : "Open Sans", sans-serif;
@font-size-base           : 16px;
// @line-height-base         : 1.3;
@line-height-base         : 1.5;
@heading-color            : @purple;
@heading-color-dark       : @metallic-gold;
// The background colors for active and hover states for things like
// list items or table cells.
@item-active-bg         : @gold;
@item-hover-bg          : @metallic-gold;

@link-color             : @purple;
@link-hover-color       : @metallic-gold;
@link-active-color      : @gold;
@link-hover-decoration  : none;

// @layout-header-height     : 80px;
@layout-header-height     : 60px;
@layout-header-padding    : 0 16px;
// @layout-header-padding    : 0;
// @layout-header-background : @purple;
@layout-header-background : white;
@layout-sider-background  : @dark-gray;
@layout-body-background   : @light-gray;

@menu-dark-bg             : @dark-gray;
@menu-dark-submenu-bg     : fade(@light-gray, 5%);

//  Fix overflow on collapses
.ant-collapse-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//  Tab container
//  https://ant.design/components/tabs/#components-tabs-demo-card-top
.ant-tabs-bar {
  margin-bottom: 0;
}
.ant-tabs-nav-container {
  margin-left: -1px;
}

//  Break words in table cells.
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  word-break: break-word;
}

//  Fix badge alignment
.ant-badge-count p {
  color: #FFF !important;
  font-size: 14px !important;
}
