@import "~antd/dist/antd.less";
@import "~rc-drawer/assets/index.css";
/*
WARNING:
This file is for ant-design themes only.
Do NOT put standard CSS here. It will break scope conventions.
Antd is being used for its adherence to UW branding,
but requires less preprocessed themes.
*/
/*
Official UW Brand Colors - source:
http://www.washington.edu/brand/graphic-elements/primary-color-palette/
*/
@purple                   : #4b2e83;
@gold                     : #b7a57a;
@metallic-gold            : #85754d;
@light-gray               : #d9d9d9;
@dark-gray                : #444;
@black                    : #3d3d3d;

/*
ANT Design theme overrides
*/

@primary-color            : @purple;
// @info-color             : #ecf6fd;
// @success-color          : @green-6;
// @error-color            : @red-6;
@highlight-color          : @gold;
// @warning-color          : @yellow-6;
@normal-color             : @light-gray;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: color(~`colorPalette("@{primary-color}", 1)`);
@primary-2: color(~`colorPalette("@{primary-color}", 2)`);
@primary-3: color(~`colorPalette("@{primary-color}", 3)`);
@primary-4: color(~`colorPalette("@{primary-color}", 4)`);
// Color used to control the text color in many active and hover states.
@primary-5: color(~`colorPalette("@{primary-color}", 5)`);
@primary-6: @primary-color;
// Color used to control the text color of active buttons.
@primary-7: color(~`colorPalette("@{primary-color}", 7)`);

@secondary-color          : @gold;
@secondary-1: color(~`colorPalette("@{secondary-color}", 1)`);
@secondary-2: color(~`colorPalette("@{secondary-color}", 2)`);
@secondary-3: color(~`colorPalette("@{secondary-color}", 3)`);
@secondary-4: color(~`colorPalette("@{secondary-color}", 4)`);
// Color used to control the text color in many active and hover states.
@secondary-5: color(~`colorPalette("@{secondary-color}", 5)`);
@secondary-6: @primary-color;
// Color used to control the text color of active buttons.
@secondary-7: color(~`colorPalette("@{secondary-color}", 7)`);


@font-family              : "Open Sans", sans-serif;
@font-size-base           : 16px;
//  Adjust alerts to align with 16px;
.ant-alert-with-description .ant-alert-icon {
  font-size: 28px;
}

@heading-color            : @purple;
@heading-color-dark       : @metallic-gold;
// The background colors for active and hover states for things like
// list items or table cells.
@item-active-bg         : @primary-1;
@item-hover-bg          : @secondary-1;
@link-hover-color       : @metallic-gold;
.ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-item {
     z-index: 0;
}

@input-hover-border-color    : @secondary-color;

// @layout-header-height     : 90px;
.rc-drawer-top .rc-drawer-docked {
  top: 90px !important;
}
// @layout-header-padding    : 0 16px;
// @layout-header-padding    : 0;
@layout-header-padding    : 0 0 0 16px;
@layout-header-background : @primary-color;
//  Header shadows.
.ant-layout-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 0;
  height: 60px;
  z-index: 1020;
}
.ant-menu-horizontal {
  display: flex;
  justify-content: center;
  // Overflow is caused by borders
  // overflow: hidden;
}
.ant-menu-inline {
  min-width: 230px;
}
//  Fix rc-drawer, make it responsive to the header
.rc-drawer {
  top: 60px;
}
.rc-drawer-sidebar {
  background: white;
  overflow-y: visible;
  z-index: 9999;
}
// Side nav
.rc-drawer-open.rc-drawer.rc-drawer-left .rc-drawer-sidebar .ant-menu {
  border: none;
}
.rc-drawer-open.rc-drawer.rc-drawer-left .rc-drawer-sidebar ul {
  overflow-x: hidden;
}
// Top nav
.rc-drawer.rc-drawer-top .rc-drawer-sidebar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  z-index: 1020;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.rc-drawer-content {
  overflow-x: hidden;
}
@layout-sider-background  : white;

@layout-body-background   : @light-gray;
body {
  background: #d9d9d9;
}

@outline-color          : @secondary-color;

@background-color-base  : @secondary-1;
@background-color-active: @primary-1;

@table-header-bg: @secondary-1;

// Max out the zIndex for message (alert) components, otherwise they are obsfucated
@zindex-message         : 9998;
@zindex-dropdown        : 9999;


@back-top-color: @metallic-gold;

@avatar-bg: @metallic-gold;

@rate-star-color: @metallic-gold;
@rate-star-bg: @primary-1;

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
    border-right: 3px solid @metallic-gold;
}

//  Fix overflow on collapses
.ant-collapse-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//  Tab container
//  https://ant.design/components/tabs/#components-tabs-demo-card-top
.ant-tabs-bar {
  margin-bottom: 0;
}
.ant-tabs-nav-container {
  margin-left: -1px;
}

//  Break words in table cells.
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  word-break: break-word;
}

//  Fix badge alignment
.ant-badge-count p {
  color: #FFF !important;
  font-size: 14px !important;
}

// Slick Carousel
.ant-carousel .slick-slide {
  width: 100%;
  height: 600px;
  line-height: 160px;
  overflow: hidden;
  text-align: center;
  color: white;
  background: @metallic-gold;
  border-radius: 4px 4px 0 0;
}

//  Editable tables
.editable-row-text {
  padding: 5px;
}

.editable-row-operations a {
  margin-right: 8px;
}
