@import '../../../css/layout';
@import '../../../css/colors';
.login {
  margin-left: auto
}
.button {
  /*Per branding, 15* clip: https://www.washington.edu/brand/graphic-elements/angled-background/ */
  -webkit-clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
  height: var(--header-height, 60px);
  width: 196px;
  padding: 4px 4px 4px 60px !important;
  background-color: var(--metallic-gold, goldenrod);
  color: white;
  border: none;
}

.button strong, small {
  display: inline-block;
  text-align: left;
}
.button strong {
  display: block;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}
.button small {
  display: block;
  color: var(--light-gray, gray);
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}
