
/*.header {
  padding: 0 48px;
}*/
:root {
  --logo: {
    vertical-align: middle;
    max-height: 50px;
  }
}

.w {
  @apply --logo;
  padding-right: 16px;
  @media (min-width: 992px) {
    padding-left: 32px;
  }
}
.stf {
  @apply --logo;
}
