.navbar-image {
  padding: 0;
}
.navbar-image a {
  padding: 0 !important;
}

.stf-logo {
  background-image: url('./stf.png');
  background-size:cover;
  width: 200px;
}

.netid-avatar {
  float: left !important;
  margin-top: -12px !important;
  margin-right: -12px !important;
  max-height: 42px;
}

#img {
  height: inherit;
}
