/* FrontPage styles */
.no-style {
  list-style-type: none;
  padding-left: 0px;
}
.carousel {
  height: 40vh;
  max-height: 600px;
  /*overflow: hidden;*/
}
.carousel img {
  /*max-width:100%;
  max-height:100%;*/
  /*object-fit: contain;*/
  margin: auto;
  max-height: 40vh;
}
