/*This sticky footer brought to you by... Flexbox!
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}
.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}
