/*This sticky footer brought to you by... Flexbox!
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}
.headroom {
  /* Bust a bug with React-headroom scaling on desktop */
  /*height: inherit !important;*/
}

.logo {
  height: 64px;
  background: url('./stf.png');
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

:global .ant-layout-sider-zero-width-trigger {
  top: 8px !important;
}
