@import '../../../css/layout';
@import '../../../css/colors';

.tabbed-article {
  @apply --page;
  padding: 0;
  @media (min-width: 992px) {
    padding: 0;
  }
  background-color: inherit;
  /*background-color: inherit;*/
}

.tab-pane {
  padding: 8px;
  background: #fff;
  @media (min-width: 992px) {
    padding: 24px;
  }
  border-radius: 0 4px 4px 4px;
}

.badge {
  color: '#FFF !important';
  background-color: '#87d068';
  font-size: 10px;
}
