@import '../../../../../css/colors';

.arrow {
  display: block !important;
  margin: auto;
  text-align: center;
  font-size: 28px;
  color: var(--gold, gold);
  padding: 0;
  @media (min-width: 992px) {
    padding: 16px 0;
  }
}
