@import '../../css/colors';

:global [class^="react-context-menu"] {
  & .react-context-menu {
      min-width: 160px;
      margin: 0;
      padding: 0;
      text-align: left;
      background-color: #FFF !important;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border-radius: 4px;
      outline: none;

      /*margin: 20px;*/
  }
  & .react-context-menu-item {
    background-color: #FFF !important;
  }

  & .react-context-menu-link {
      display: inline-block;
      width: 100%;
      padding: 3px 20px;
      clear: both;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
  }

  & .react-context-menu-link.active,
  & .react-context-menu-link:hover {
      color: #fff;
      background-color: var(--purple, purple);
      text-decoration: none;
  }

  & .react-context-menu-item.submenu > a {
      padding-right: 27px;
  }

  & .react-context-menu-item.submenu > a:after {
      content: "▶";
      display: inline-block;
      position: absolute;
      right: 7px;
  }
}
